h1{
    text-align: center;
    color: #000080;
}
h2{
    text-align: center;
    color: #000080;
}
.header{
    margin: 10mm;
    background-color: #ffff00;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.camel{
    margin: 10mm;
    background-color: #51e5f0;
    justify-content: center;
    padding-top: 1%;
}

body {
    background-color: #fa8072;
}